body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.panel {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.project_section, .user_section {
    min-width: 20vw;
    width: 20vw;
    max-width: 20vw;
}

.project_header, .user_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project_info {
    display: flex;
    justify-content: space-between;

}


button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.user_list {
    margin-top: 10px;
}

.user_box {
    width: fit-content;
    padding: 10px;
    background: #eaeaea;
    border-radius: 4px;
    margin-bottom: 5px;
}
